.swiper-container.roof-type
	ul.roof-form__radio-list.roof-type__list.swiper-wrapper
		li.roof-type__item.swiper-slide
			input.roof-type__radio(type="radio" name="roof-type" value="odnoskat" id="roofTypeOneskat" checked)
			label.roof-type__label(for="roofTypeOneskat")
				.roof-type__picture
					img.roof-type__img(src="static/images/content/roof-type-1.png" width="82" height="88" alt="Тип односкатная крыша")
				span.root-type__name Односкатная
		li.roof-type__item.swiper-slide
			input.roof-type__radio(type="radio" name="roof-type" value="odnoskat" id="roofTypeDoubleskat")
			label.roof-type__label(for="roofTypeDoubleskat")
				.roof-type__picture
					img.roof-type__img(src="static/images/content/roof-type-2.png" width="84" height="85" alt="Тип односкатная крыша")
				span.root-type__name Двускатная
		li.roof-type__item.swiper-slide
			input.roof-type__radio(type="radio" name="roof-type" value="odnoskat" id="roofTypeValmovaya")
			label.roof-type__label(for="roofTypeValmovaya")
				.roof-type__picture
					img.roof-type__img(src="static/images/content/roof-type-3.png" width="84" height="85" alt="Тип односкатная крыша")
				span.root-type__name Двускатная
		li.roof-type__item.swiper-slide
			input.roof-type__radio(type="radio" name="roof-type" value="odnoskat" id="roofTypeShatrovaya")
			label.roof-type__label(for="roofTypeShatrovaya")
				.roof-type__picture
					img.roof-type__img(src="static/images/content/roof-type-4.png" width="84" height="85" alt="Тип односкатная крыша")
				span.root-type__name Двускатная
		li.roof-type__item.swiper-slide
			input.roof-type__radio(type="radio" name="roof-type" value="odnoskat" id="roofTypeAttic")
			label.roof-type__label(for="roofTypeAttic")
				.roof-type__picture
					img.roof-type__img(src="static/images/content/roof-type-5.png" width="84" height="85" alt="Тип односкатная крыша")
				span.root-type__name Двускатная

