ul.layout-controls
	li.layout-control.col-12.col-md-6
		h4.layout-control__title Скат 1
		.layout-control__inner.row.mb-30
			.col-7
				span.layout-control__name Максимальная длина ската
			.col-5
				.layout-control__controls
					button(type="button" id="layoutControlLengthMinus").layout-control__button.layout-control__button--minus._minus -
					input.layout-control__input(type="text" name="maxLengthList" value="0" id="layoutControlLength")
					button(type="button" id="layoutControlLengthPlus").layout-control__button.layout-control__button--plus._plus +
		.layout-control__inner.row
			.col-7
				span.layout-control__name Смещение листов
				.tooltip.d-inline-block.ms-10
					button(type="button").tooltip__button.tooltip__button--right ?
					span.tooltip__data-title Смещение листов
					span.tooltip__data-text С помощью смещения листов вы можете сдвинуть листы на скате для сокращения обрезков. Используйте этот инструмент только в случае если понимаете как будут использоваться обрезки.
			.col-5
				.layout-control__controls
					button(type="button" id="layoutControlOffsetMinus").layout-control__button.layout-control__button--minus._minus &lt;
					input.layout-control__input(type="text" name="maxLengthList" value="0" id="layoutControlOffset")
					button(type="button" id="layoutControlOffsetPlus").layout-control__button.layout-control__button--plus._plus >
	li.layout-control.col-12.col-md-6
		h4.layout-control__title Скат 2
		.layout-control__inner.row.mb-30
			.col-7
				span.layout-control__name Максимальная длина ската
			.col-5
				.layout-control__controls
					button(type="button" id="layoutControlLengthMinus2").layout-control__button.layout-control__button--minus._minus -
					input.layout-control__input(type="text" name="maxLengthList" value="0" id="layoutControlLength2")
					button(type="button" id="layoutControlLengthPlus2").layout-control__button.layout-control__button--plus._plus +
		.layout-control__inner.row
			.col-7
				span.layout-control__name Смещение листов
				.tooltip.d-inline-block.ms-10
					button(type="button").tooltip__button.tooltip__button--right ?
					span.tooltip__data-title Смещение листов
					span.tooltip__data-text С помощью смещения листов вы можете сдвинуть листы на скате для сокращения обрезков. Используйте этот инструмент только в случае если понимаете как будут использоваться обрезки.
			.col-5
				.layout-control__controls
					button(type="button" id="layoutControlOffsetMinus2").layout-control__button.layout-control__button--minus._minus &lt;
					input.layout-control__input(type="text" name="maxLengthList" value="0" id="layoutControlOffset2")
					button(type="button" id="layoutControlOffsetPlus2").layout-control__button.layout-control__button--plus._plus >
