.form {
  &__fieldset {
    border-bottom: 1px solid $gray-color;
    margin: 0 -20px 30px;
    padding: 0 20px 30px;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 30px;
      padding: 0 0 30px;
    }
    &--no-border {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  &__legend {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 0 20px 0;
    @media screen and (min-width: $desktop-size) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  &__text {
    color: rgba($black, .5);
    font-size: 12px;
    line-height: 14px;
  }
  &__radio-container {
    margin: 0 -20px;
    @media screen and (min-width: $tablet-size) {
      margin: 0;
    }
  }
  &__checkbox-box {
    position: relative;
  }
  &__input-tab {
    opacity: 0;
    top: -9999px;
    left: -9999px;
    right: 9999px;
    position: absolute;
    &._active {
      top: 0;
      left: 0;
      right: 0;
      opacity: 1;
      position: relative;
      transition: opacity .35s ease;
    }
  }
  &__input-box {
    position: relative;
    &._active,
    &._not-empty {
      .form__input-label {
        font-size: 10px;
        top: 20%;
        @media screen and (min-width: $tablet-size) {
          font-size: 8px;
        }
      }
    }
    &._active {
      .form__input-icon {
        opacity: 1;
      }
    }
  }
  &__input-label {
    font-size: 16px;
    line-height: 1;
    left: 20px;
    opacity: .5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-out .2s;
    @media screen and (min-width: $tablet-size) {
      font-size: 12px;
      left: 10px;
    }
  }
  &__input-text {
    padding: 20px 60px 15px 10px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      font-size: 12px;
      padding: 15px 60px 5px 10px;
    }
  }
  &__input-icon {
    align-items: center;
    background-color: $dark-blue-color;
    border-radius: 50%;
    color: $white;
    display: flex;
    justify-content: center;
    height: 30px;
    opacity: .2;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-out .2s;
    width: 30px;
    @media screen and (min-width: $tablet-size) {
      font-size: 12px;
      height: 20px;
      width: 20px;
    }
  }
  &__button {
    background-color: $dark-blue-color;
    border: none;
    border-radius: 10px;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px;
    width: 100%;
  }
  &__note {
    background-color: $note-color;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    margin: 20px 0 0 0;
    padding: 20px;
  }
}
@import './radio-list';
@import './radio';
@import './checkbox';
