.radio-big {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -9999px;
  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    line-height: 15px;
    padding: 25px 5px;
    position: relative;
    width: 150px;
    @media screen and (min-width: $tablet-size) {
      font-weight: 400;
      padding: 20px 5px;
      width: 100%;
    }
    @media screen and (min-width: $large-size) {
      font-size: 15px;
      padding: 25px 10px;
    }
    &::before {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, .1);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: all ease-out .3s;
      width: 100%;
    }
    &::after {
      background-color: $dark-blue-color;
      border-radius: 10px;
      content: '';
      opacity: 0;
      position: absolute;
      height: 10px;
      right: 5px;
      top: 5px;
      transition: all ease-out .3s;
      width: 10px;
    }
  }
  &__picture {
    height: 56px;
    margin: 0 0 10px 0;
    width: auto;
    @media screen and (min-width: 1000px) {
      height: 75px;
    }
    @media screen and (min-width: $large-size) {
      margin: 0 0 20px 0;
    }
  }
  &__img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  &:focus + label::before {
    box-shadow: $input-btn-focus-box-shadow;
  }
  &:checked + label::before {
    background-color: rgba($dark-blue-color, .1);
    border: 1px solid $dark-blue-color;
  }
  &:checked + label::after {
    opacity: .6;
  }
}

.radio-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -9999px;
  & + label {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
  }
  & + label::before {
    background-color: rgba(232, 236, 244, 0.2);
    border: 2px solid $gray-color;
    border-radius: 3px;
    content: '';
    height: 24px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
  }
  &:focus + label::before {
    box-shadow: $input-btn-focus-box-shadow;
  }
  &:checked + label::before {
    border: 2px solid $dark-blue-color;
  }
  &:checked + label::after,
  &:not(:checked) + label::after {
    background-color: $dark-blue-color;
    border-radius: 3px;
    content: '';
    left: 4px;
    height: 16px;
    position: absolute;
    top: 0;
    transition: all ease-out 0.15s;
    width: 16px;
  }
  &:not(:checked) + label::after {
    opacity: 0;
  }
  &:checked + label::after {
    opacity: 1;
  }
}
