.roof-size {
  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 250px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      max-height: unset;
    }
  }
  &__img {
    object-fit: contain;
    @media screen and (min-width: $tablet-size) {
      height: 100%;
      width: auto;
    }
  }
}
