section.main-promo
	.main-promo__map
		.main-promo__wrapper
			.main-promo__inner
				.main-promo__image
					img.main-promo__img(src="static/images/content/index-home.jpg")
					.main-promo__marker.main-promo__marker--mansard-window
						button(type="button").tooltip__button
						span.tooltip__data-title Мансардные окна
						span.tooltip__data-text Высокотехнологичные оконные конструкции для крыши позволяют получить на 30-40% больше света, чем вертикальное окно.
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--abutment-tape
						button(type="button").tooltip__button
						span.tooltip__data-title Гофрированная лента для примыканий
						span.tooltip__data-text Для отделки дымоходов, а также различных выступающих элементов и примыканий кровли к стенам, применяется специальная алюминиевая гофрированная лента Grand Line для примыканий
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--snow-protect
						button(type="button").tooltip__button
						span.tooltip__data-title Снегозадержатели
						span.tooltip__data-text Снегозадержатели предотвращают неконтролируемый сход снега и наледи с кровли.
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--metallocherepitsa
						button(type="button").tooltip__button
						span.tooltip__data-title Металлочерепица
						span.tooltip__data-text Металлочерепица изготавливается из стальных листов с полимерным покрытием. Профилирование осуществляется методом холодного проката.
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--krovel-ventilation
						button(type="button").tooltip__button
						span.tooltip__data-title Кровельная вентиляция
						span.tooltip__data-text Решает вопросы вентиляции подкровельного пространства.
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--vodostock
						button(type="button").tooltip__button
						span.tooltip__data-title Водосточная система
						span.tooltip__data-text Необходима для отвода атмосферных осадков с кровли до места стока.
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--drips
						button(type="button").tooltip__button
						span.tooltip__data-title Отливы
						span.tooltip__data-text Защищают верхнюю часть декоративных панелей от осадков, придают законченный внешний вид
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--decorative-system
						button(type="button").tooltip__button
						span.tooltip__data-title Декоративная система ЯФАСАД
						span.tooltip__data-text Применяется для украшения дома и отделки углов, оконных и дверных проёмов
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--shutters
						button(type="button").tooltip__button
						span.tooltip__data-title Жалюзные ставни декоративные
						span.tooltip__data-text Преображают современный дом и визуально расширяют область окон
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--spotlights
						button(type="button").tooltip__button
						span.tooltip__data-title Софиты
						span.tooltip__data-text Облицовочный материал для отделки карнизов кровли, выступов крыш дач, беседок, крылец и других подкровельных поверхностей.
						a.tooltip__data-link(href="#") Перейти в каталог
					.main-promo__marker.main-promo__marker--vinyl-siding
						button(type="button").tooltip__button
						span.tooltip__data-title Виниловый сайдинг
						span.tooltip__data-text Облицовочный материал для внешних стен, который отлично защищает здание от атмосферных осадков и воздействий окружающей среды.
						a.tooltip__data-link(href="#") Перейти в каталог
