ul.form__input-tabs.mb-20
	li.form__input-tab._roof-type-content._odnoskat._active
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeOdnoskatWidth") Ширина ската, м
			input.form__input-text._js-input-text(type="text" id="roofSizeOdnoskatWidth" name="roofSizeOdnoskatWidth" autocomplete="off" data-roof-size-image='roof-odnoskat' required)
			span.form__input-icon W
		.form__input-box
			label.form__input-label(for="roofSizeOdnoskatLength") Длина ската, м
			input.form__input-text._js-input-text(type="text" id="roofSizeOdnoskatLength" name="roofSizeOdnoskatLength" autocomplete="off" data-roof-size-image='roof-odnoskat-h' required)
			span.form__input-icon H
	li.form__input-tab._roof-type-content._doubleskat
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeDoubleskatWidth") Ширина ската, м
			input.form__input-text._js-input-text(type="text" id="roofSizeDoubleskatWidth" name="roofSizeDoubleskatWidth" autocomplete="off" data-roof-size-image='roof-doubleskat' required)
			span.form__input-icon W
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeDoubleskatLength1") Длина ската 1, м
			input.form__input-text._js-input-text(type="text" id="roofSizeDoubleskatLength1" name="roofSizeDoubleskatLength1" autocomplete="off" data-roof-size-image='roof-doubleskat-h1' required)
			span.form__input-icon H1
		.form__input-box
			label.form__input-label(for="roofSizeDoubleskatLength2") Длина ската 2, м
			input.form__input-text._js-input-text(type="text" id="roofSizeDoubleskatLength2" name="roofSizeDoubleskatLength2" autocomplete="off" data-roof-size-image='roof-doubleskat-h2' required)
			span.form__input-icon H2
	li.form__input-tab._roof-type-content._valmovaya
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeValmovayaWidth1") Ширина ската 1, м
			input.form__input-text._js-input-text(type="text" id="roofSizeValmovayaWidth1" name="roofSizeValmovayaWidth1" autocomplete="off" data-roof-size-image='roof-valmovaya' required)
			span.form__input-icon W1
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeValmovayaWidth2") Ширина ската 2, м
			input.form__input-text._js-input-text(type="text" id="roofSizeValmovayaWidth2" name="roofSizeValmovayaWidth2" autocomplete="off" data-roof-size-image='roof-valmovaya-w2' required)
			span.form__input-icon W2
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeRidgeWidth") Ширина конька, м
			input.form__input-text._js-input-text(type="text" id="roofSizeRidgeWidth" name="roofSizeRidgeWidth" autocomplete="off" data-roof-size-image='roof-valmovaya-w3' required)
			span.form__input-icon W3
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeValmovayaLength1") Длина ската 1, м
			input.form__input-text._js-input-text(type="text" id="roofSizeValmovayaLength1" name="roofSizeValmovayaLength1" autocomplete="off" data-roof-size-image='roof-valmovaya-h1' required)
			span.form__input-icon H1
		.form__input-box
			label.form__input-label(for="roofSizeValmovayaLength2") Длина ската 2, м
			input.form__input-text._js-input-text(type="text" id="roofSizeValmovayaLength2" name="roofSizeValmovayaLength2" autocomplete="off" data-roof-size-image='roof-valmovaya-h2' required)
			span.form__input-icon H1
	li.form__input-tab._roof-type-content._shatrovaya
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeShatrovayaWidth1") Ширина ската 1, м
			input.form__input-text._js-input-text(type="text" id="roofSizeShatrovayaWidth1" name="roofSizeShatrovayaWidth1" autocomplete="off" data-roof-size-image='roof-shatrovaya' required)
			span.form__input-icon W1
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeShatrovayaWidth2") Ширина ската 2, м
			input.form__input-text._js-input-text(type="text" id="roofSizeShatrovayaWidth2" name="roofSizeShatrovayaWidth2" autocomplete="off" data-roof-size-image='roof-shatrovaya-w2' required)
			span.form__input-icon W2
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeShatrovayaLength1") Длина ската 1, м
			input.form__input-text._js-input-text(type="text" id="roofSizeShatrovayaLength1" name="roofSizeShatrovayaLength1" autocomplete="off" data-roof-size-image='roof-shatrovaya-h1' required)
			span.form__input-icon H1
		.form__input-box
			label.form__input-label(for="roofSizeShatrovayaLength2") Длина ската 2, м
			input.form__input-text._js-input-text(type="text" id="roofSizeShatrovayaLength2" name="roofSizeShatrovayaLength2" autocomplete="off" data-roof-size-image='roof-shatrovaya-h2' required)
			span.form__input-icon H2
	li.form__input-tab._roof-type-content._attics
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeAtticsWidth") Ширина ската, м
			input.form__input-text._js-input-text(type="text" id="roofSizeAtticsWidth" name="roofSizeAtticsWidth" autocomplete="off" data-roof-size-image='roof-attic' required)
			span.form__input-icon W
		.form__input-box.mb-20
			label.form__input-label(for="roofSizeAtticsLength1") Длина ската 1,4, м
			input.form__input-text._js-input-text(type="text" id="roofSizeAtticsLength1" name="roofSizeAtticsLength1" autocomplete="off" data-roof-size-image='roof-attic-h1' required)
			span.form__input-icon H1
		.form__input-box
			label.form__input-label(for="roofSizeAtticsLength2") Длина ската 2,3, м
			input.form__input-text._js-input-text(type="text" id="roofSizeAtticsLength2" name="roofSizeAtticsLength2" autocomplete="off" data-roof-size-image='roof-attic-h2' required)
			span.form__input-icon H2
