.swiper-container.form__radio-container._js-roof-type
	ul.form__radio-list.radio-list.swiper-wrapper
		li.radio-list__item.swiper-slide
			input.radio-big(type="radio" name="roof-type" value="odnoskat" id="roofTypeOneskat" checked)
			label.radio-big__label(for="roofTypeOneskat")
				span.radio-big__picture
					img.radio-big__img(src="static/images/content/roof-type-1.png" width="82" height="88" alt="Тип односкатная крыша")
				span.radio-list__name Односкатная
		li.radio-list__item.swiper-slide
			input.radio-big(type="radio" name="roof-type" value="odnoskat" id="roofTypeDoubleskat")
			label.radio-big__label(for="roofTypeDoubleskat")
				span.radio-big__picture
					img.radio-big__img(src="static/images/content/roof-type-2.png" width="84" height="85" alt="Тип односкатная крыша")
				span.radio-list__name Двускатная
		li.radio-list__item.swiper-slide
			input.radio-big(type="radio" name="roof-type" value="odnoskat" id="roofTypeValmovaya")
			label.radio-big__label(for="roofTypeValmovaya")
				span.radio-big__picture
					img.radio-big__img(src="static/images/content/roof-type-3.png" width="84" height="85" alt="Тип односкатная крыша")
				span.radio-list__name Вальмовая
		li.radio-list__item.swiper-slide
			input.radio-big(type="radio" name="roof-type" value="odnoskat" id="roofTypeShatrovaya")
			label.radio-big__label(for="roofTypeShatrovaya")
				span.radio-big__picture
					img.radio-big__img(src="static/images/content/roof-type-4.png" width="84" height="85" alt="Тип односкатная крыша")
				span.radio-list__name Шатровая
		li.radio-list__item.swiper-slide
			input.radio-big(type="radio" name="roof-type" value="odnoskat" id="roofTypeAttic")
			label.radio-big__label(for="roofTypeAttic")
				span.radio-big__picture
					img.radio-big__img(src="static/images/content/roof-type-5.png" width="84" height="85" alt="Тип односкатная крыша")
				span.radio-list__name Мансардная

