.form__radio-check-container
	h4.form__subtitle.mb-15 Металлочепица:
	ul.form__radio-check-list.radio-check-list.row.gx-20.gy-20
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-metal" value="classic" id="roofProfileMetalClassic" checked)
			label.radio-check__label(for="roofProfileMetalClassic")
				span.radio-check__name Classic
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Classic
				span.tooltip__data-text Имеет распространенный тип профиля, геометрия которого приближена к профилю классической керамической черепицы.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-metal" value="KvintaPlus" id="roofProfileMetalKvintaPlus")
			label.radio-check__label(for="roofProfileMetalKvintaPlus")
				span.radio-check__name Kvinta Plus
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Kvinta Plus
				span.tooltip__data-text Благодаря наличию канавки на гребне этот вид металлочерепицы выгодно отличается от аналогов повышенной прочностью и элегантным внешним видом. За счет большей габаритной ширины, по сравнению с другими профилями, металлочерепица Kvinta (стала Kvinta plus) является более экономичной.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-metal" value="Kredo" id="roofProfileMetalKredo")
			label.radio-check__label(for="roofProfileMetalKredo")
				span.radio-check__name Kredo
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Kredo
				span.tooltip__data-text Профиль обладает большей жесткостью по сравнению с классическим профилем металлочерепицы. Закругленная форма гребня отражает средиземноморский стиль кровли, а мягкие и ровные линии волн придают металлочерепице Kredo схожесть с натуральной черепицей.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-metal" value="Kamea" id="roofProfileMetalKamea")
			label.radio-check__label(for="roofProfileMetalKamea")
				span.radio-check__name Kamea
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Kamea
				span.tooltip__data-text Максимально схожа с натуральной керамической черепицей. Данный профиль был популярен еще в античности. Черепица с таким профилем всегда являлась символом достатка и изысканного вкуса.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-metal" value="Modern" id="roofProfileMetalModern")
			label.radio-check__label(for="roofProfileMetalModern")
				span.radio-check__name Modern
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Modern
				span.tooltip__data-text Распространенный тип профиля, геометрия которого приближена к профилю классической керамической черепицы. Изготавливается из 0.4 и 0.5 толщины стали.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-metal" value="KvintaUno" id="roofProfileMetalKvintaUno")
			label.radio-check__label(for="roofProfileMetalKvintaUno")
				span.radio-check__name Kvinta Uno
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Kvinta Uno
				span.tooltip__data-text Модульная версия популярного профиля Kvinta Plus. Монтаж производится на стандартную обрешетку с использованием доборных элементов, как и у листовой металлочерепицы.
				a.tooltip__data-link(href="") Ссылка
	h4.form__subtitle.mb-15 Профнастил:
	ul.form__radio-check-list.radio-check-list.row.gx-20.gy-20
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-profnastil" value="gl-10r" id="roofProfileProfnastilGl-10r" checked)
			label.radio-check__label(for="roofProfileProfnastilGl-10r")
				span.radio-check__name GL-10R
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GL-10R
				span.tooltip__data-text Данный материал имеет самую низкую высоту ступени по сравнению с другими видами кровельного профнастила. При своей не очень высокой прочности, материал является более гибким и податливым, смотрится более аккуратно, чем другие виды профнастила. Высота профиля: 10мм.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-profnastil" value="gl-20r" id="roofProfileProfnastilGl-20r")
			label.radio-check__label(for="roofProfileProfnastilGl-20r")
				span.radio-check__name GL-20R
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GL-20R
				span.tooltip__data-text Один из наиболее популярных видов профнастила благодаря оптимальному сочетанию прочности материала и его стоимости. Чуть более высокий профиль чем у профнастила 10 выглядит более строго, но более основательно. Высота профиля: 16,5 мм.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-profnastil" value="gl-21r" id="roofProfileProfnastilGl-21r")
			label.radio-check__label(for="roofProfileProfnastilGl-21r")
				span.radio-check__name GL-21R
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GL-21R
				span.tooltip__data-text Самый популярный вид профнастила. Благодаря симметричности рисунка профиля данный материал становится универсальным в применении, может выглядеть одинаково эстетично с обеих сторон. Высота профиля обеспечивает оптимальную прочность. Материал будет органично смотреться на крыше любого строения. Высота профиля: 21мм.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-profnastil" value="gl-35r" id="roofProfileProfnastilGl-35r")
			label.radio-check__label(for="roofProfileProfnastilGl-35r")
				span.radio-check__name GL-35R
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GL-35R
				span.tooltip__data-text Материал повышенной прочности благодаря большой высоте профиля. Ярко выраженная геометрия данного материала придется по вкусу любителям строгих форм. Высота профиля: 35мм.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-profnastil" value="gl-60r" id="roofProfileProfnastilGl-60r")
			label.radio-check__label(for="roofProfileProfnastilGl-60r")
				span.radio-check__name GL-60R
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GL-60R
				span.tooltip__data-text Данный профиль обычно используется в промышленном строительстве. Высота профиля: 60мм.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-profnastil" value="gl-75r" id="roofProfileProfnastilGl-75r")
			label.radio-check__label(for="roofProfileProfnastilGl-75r")
				span.radio-check__name GL-75R
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GL-75R
				span.tooltip__data-text Самый прочный вид кровельного профнастила с самой большой высотой профиля. Будет органично смотреться на промышленных объектах, а также подойдет для тех, кто готов к смелым дизайнерским решениям. Высота профиля: 75 мм.
				a.tooltip__data-link(href="") Ссылка
	h4.form__subtitle.mb-15 Фальцевая:
	ul.form__radio-check-list.radio-check-list.row.gx-20.gy-20
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-falcevaya" value="clickFalc" id="roofProfileFalcevayaClickFalc" checked)
			label.radio-check__label(for="roofProfileFalcevayaClickFalc")
				span.radio-check__name Кликфальц
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Кликфальц
				span.tooltip__data-text Главная особенность этого материала – легкость монтажа. Листы крепятся к обрешетке саморезами через отверстия вдоль замочной части кровли без использования специального оборудования.
				a.tooltip__data-link(href="") Ссылка
		li.radio-check-list__item.col-6
			input.radio-check(type="radio" name="roof-type-falcevaya" value="clickFalcPro" id="roofProfileFalcevayaClickFalcPro")
			label.radio-check__label(for="roofProfileFalcevayaClickFalcPro")
				span.radio-check__name Кликфальц Pro
			.radio-check__tooltip.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Кликфальц Pro
				span.tooltip__data-text Главная особенность этого материала – легкость монтажа. Листы крепятся к обрешетке саморезами через отверстия вдоль замочной части кровли без использования специального оборудования.
				a.tooltip__data-link(href="") Ссылка
