.basket-section {
  @media screen and (min-width: 1000px) {
    align-items: flex-start;
    display: flex;
  }
  &__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding: 20px;
  }
  &__goods {
    margin: 0 0 30px 0;
  }
  &__item {
    background-color: $white;
    box-shadow: 0 0 4.2px 0 rgba(0, 0, 0, .07);
    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
    @media screen and (min-width: $tablet-size) {
      border-radius: 10px;
    }
  }
  &__product {
    padding: 20px;
    position: relative;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      width: 100%;
    }
    @media screen and (min-width: $desktop-size) {
      align-items: center;
    }
  }
  &__picture {
    float: left;
    margin: 0 30px 20px 0;
    max-height: 65px;
    max-width: 93px;
    min-height: 65px;
    min-width: 93px;
    @media screen and (min-width: $tablet-size) {
      float: unset;
      margin: 0;
    }
  }
  &__img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  &__content {
    margin: 0 0 30px 0;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0 40px 0 20px;
    }
    @media screen and (min-width: 1000px) {
      padding: 0 30px 0 20px;
    }
  }
  &__link {
    color: $black;
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    line-height: 26px;
    min-height: 65px;
    padding-right: 20px;
    text-decoration: none;
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      line-height: 24px;
      min-height: unset;
      padding: 0;
    }
    @media screen and (min-width: 1000px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__info-list {
    align-items: center;
    display: flex;
    margin: 20px 0 0 0;
  }
  &__info-item {
    color: $text-gray-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    &:not(:last-child) {
      margin: 0 5px 0 0;
      @media screen and (min-width: $tablet-size) {
        margin: 0 10px 0 0;
      }
    }
    &:not(:first-child) {
      &::before {
        content: '/';
        margin: 0 5px 0 0;
        @media screen and (min-width: $tablet-size) {
          margin: 0 10px 0 0;
        }
      }
    }
    @media screen and (min-width: $tablet-size) {
      font-size: 13px;
      line-height: 18px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 9px;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 11px;
    }
  }
  &__price-panel {
    @media screen and (min-width: $tablet-size) {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 auto;
      padding-right: 20px;
    }
    @media screen and (min-width: $desktop-size) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__price {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    white-space: nowrap;
    @media screen and (min-width: $tablet-size) {
      font-size: 18px;
      line-height: 26px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__delete {
    background-color: transparent;
    border: none;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    &::before,
    &::after {
      background-color: $gray-color;
      content: '';
      height: 15px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 2px;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &__total {
    border-top: 1px solid $gray-color;
    padding: 0 20px 20px;
  }
  &__count {
    color: $text-gray-color;
    display: block;
    font-size: 12px;
    line-height: 22px;
    margin-top: 15px;
    strong {
      color: $black;
      font-size: 14px;
    }
    @media screen and (min-width: 1000px) {
      font-size: 9px;
      line-height: 14px;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 11px;
    }
  }
}
@import './basket-invoice';
