section.roof-calculate.pt-50
	.container.gx-0
		h1.page__title Калькулятор расчета кровли
		.roof-calculate__inner.stage__inner
			ul.roof-calculate__steps.stage__steps
			form.roof-calculate__form.form(action="#" method="POST")
				.form__fieldset
					h3.form__legend Выберите тип кровли
					include ../../modules/roof-parameter/roof-type
				.form__fieldset
					h3.form__legend Материал
					include ../../modules/roof-parameter/roof-material

