.popup.popup_basket-add
	.popup__content
		.popup__body
			button.popup__close
			h2.popup__title Вариации металлочерепицы
			ul.popup__list.popup-added-list
				li.popup-added-list__item
					+icon('icon-checked', 'popup-added-list__icon', '40', '40')
					.popup-added-list__description
						span.popup-added-list__name Листы
						span.popup-added-list__count Количество: 2
					strong.popup-added-list__price 4184.87&nbsp;₽
				li.popup-added-list__item
					+icon('icon-checked', 'popup-added-list__icon', '40', '40')
					.popup-added-list__description
						span.popup-added-list__name Доборные элементы
						span.popup-added-list__count Количество: 7
					strong.popup-added-list__price 10270.00&nbsp;₽
				li.popup-added-list__item
					+icon('icon-checked', 'popup-added-list__icon', '40', '40')
					.popup-added-list__description
						span.popup-added-list__name Саморезы
						span.popup-added-list__count Количество: 3
					strong.popup-added-list__price 3510.50&nbsp;₽
				li.popup-added-list__item
					+icon('icon-checked', 'popup-added-list__icon', '40', '40')
					.popup-added-list__description
						span.popup-added-list__name Комплектующие
						span.popup-added-list__count Количество: 8
					strong.popup-added-list__price 4503.00&nbsp;₽
				li.popup-added-list__item
					+icon('icon-checked', 'popup-added-list__icon', '40', '40')
					.popup-added-list__description
						span.popup-added-list__name Утеплитель
						span.popup-added-list__count Количество: 6
					strong.popup-added-list__price 18126.00&nbsp;₽
				li.popup-added-list__item
					+icon('icon-checked', 'popup-added-list__icon', '40', '40')
					.popup-added-list__description
						span.popup-added-list__name Софиты
						span.popup-added-list__count Количество: 41
					strong.popup-added-list__price 57145.05&nbsp;₽
			.popup__bottom
				.basket-add__footer
					.basket-add__info
						span.basket-add__count В корзине 67 едениц товара
						span.basket-add__price на сумму #[strong 97739.42&nbsp;₽]
					a.basket-add__link(href="#") Перейти в корзину

