ul.basket-section__list
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/116930-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Софит металлический центральная перфорация 0,45 РЕ с пленкой RAL 8017 шоколад
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Цвет: RAL 8017
					li.basket-section__info-item
						span.basket-section__info-text Покрытие: Полиэстр
					li.basket-section__info-item
						span.basket-section__info-text Толщина, мм: 0,45
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 1462&nbsp;₽/м#[sup 2]]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Длина листа, мм: 3000
				span.basket-section__count.col-6.col-md-3 Количество, шт: 25
				span.basket-section__count.col-6.col-md-3 Площадь, м#[sup 2]: 26.77
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 39145.05 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/121744-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Планка финишная 46х25 0,45 PE с пленкой RAL 8017 шоколад8017 шоколад
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 265&nbsp;₽/м]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 5
				span.basket-section__count.col-6.col-md-3 Длина, м.п.: 2
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 2650.00 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/179940-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") J-Профиль 12мм 0,45 PE с пленкой RAL 8017 шоколад
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 265&nbsp;₽/м]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 6
				span.basket-section__count.col-6.col-md-3 Длина, м.п.: 2
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 3180.00 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/60712-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Планка околооконная сложная 200х50х18 (j-фаска) 0,45 PE с пленкой RAL 8017 шоколад
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 1217&nbsp;₽/м]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 5
				span.basket-section__count.col-6.col-md-3 Длина, м.п.: 2
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 12170.00 ₽]
