ul.basket-section__list
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/162495-90x60.jpg" width="93" height="65" alt="Саморезы 4,8х35 RAL 8017 (Даксмер)")
			.basket-section__content
				a.basket-section__link(href="#") Саморезы 4,8х35 RAL 8017 (Даксмер)
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 5.47&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 В упаковке, шт: 100
				span.basket-section__count.col-6.col-md-3 Количество, уп: 1
				span.basket-section__count.col-6.col-md-3 Всего, шт: 250
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 1367.5 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/162503-90x60.jpg" width="93" height="65" alt="Саморезы 4,8х70 RAL 8017 (Даксмер)")
			.basket-section__content
				a.basket-section__link(href="#") Саморезы 4,8х70 RAL 8017 (Даксмер)
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 8.38&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 В упаковке, шт: 100
				span.basket-section__count.col-6.col-md-3 Количество, уп: 1
				span.basket-section__count.col-6.col-md-3 Всего, шт: 100
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 838 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/159891-90x60.jpg" width="93" height="65" alt="Саморезы 5,5х19 RAL 8017 (Даксмер)")
			.basket-section__content
				a.basket-section__link(href="#") Саморезы 5,5х19 RAL 8017 (Даксмер)
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 5.22&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 В упаковке, шт: 250
				span.basket-section__count.col-6.col-md-3 Количество, уп: 1
				span.basket-section__count.col-6.col-md-3 Всего, шт: 250
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 1305 ₽]

