ul.basket-section__list
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/53925-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Металлочерепица классик 0,5 Satin RAL 8017 шоколад
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Цвет: RAL 8017
					li.basket-section__info-item
						span.basket-section__info-text Покрытие: Satin
					li.basket-section__info-item
						span.basket-section__info-text Толщина, мм: 0,5
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 888&nbsp;₽/м#[sup 2]]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Длина листа, мм: 2050
				span.basket-section__count.col-6.col-md-3 Количество, шт: 2
				span.basket-section__count.col-6.col-md-3 Площадь, м#[sup 2]: 4.838
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 4296.14 ₽]
