ul.basket-section__list
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/96134-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Планка конька плоского 145х145 0,5 Satin с пленкой RAL 8017 шоколад
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Цвет: RAL 8017
					li.basket-section__info-item
						span.basket-section__info-text Покрытие: Satin
					li.basket-section__info-item
						span.basket-section__info-text Толщина, мм: 0,5
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 919&nbsp;₽/м#[sup 2]]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Длина листа, мм: 2000
				span.basket-section__count.col-6.col-md-3 Количество, шт: 2
				span.basket-section__count.col-6.col-md-3 Всего, м.п.: 4
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 3676 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/54134-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Планка торцевая 80х100 0,5 Satin с пленкой RAL 8017 шоколад
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Цвет: RAL 8017
					li.basket-section__info-item
						span.basket-section__info-text Покрытие: Satin
					li.basket-section__info-item
						span.basket-section__info-text Толщина, мм: 0,5
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 741&nbsp;₽/м#[sup 2]]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Длина листа, мм: 2000
				span.basket-section__count.col-6.col-md-3 Количество, шт: 3
				span.basket-section__count.col-6.col-md-3 Всего, м.п.: 6
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 4446 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/95981-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
			.basket-section__content
				a.basket-section__link(href="#") Планка карнизная 100х65 0,5 Satin с пленкой RAL 8017 шоколад
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Цвет: RAL 8017
					li.basket-section__info-item
						span.basket-section__info-text Покрытие: Satin
					li.basket-section__info-item
						span.basket-section__info-text Толщина, мм: 0,5
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 537&nbsp;₽/м#[sup 2]]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Длина листа, мм: 2000
				span.basket-section__count.col-6.col-md-3 Количество, шт: 2
				span.basket-section__count.col-6.col-md-3 Всего, м.п.: 4
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 2148 ₽]
