ul.basket-section__list
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/165236-90x60.jpg" width="93" height="65" alt="Материал пароизоляционный GRAND LINE Н98")
			.basket-section__content
				a.basket-section__link(href="#") Материал пароизоляционный GRAND LINE Н98
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Размер: 75 м#[sup 2]
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 3270&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 1
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 1367.5 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/215278-90x60.jpg" width="93" height="65" alt="Мембрана супердиффузионная Grand Line 130")
			.basket-section__content
				a.basket-section__link(href="#") Мембрана супердиффузионная Grand Line 130
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Размер: 75 м#[sup 2]
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 8600&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 1
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 8600.00 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/126698-90x60.jpg" width="93" height="65" alt="Утеплитель RockWool Лайт Баттс Скандик 800х600х50 (0,288м3)")
			.basket-section__content
				a.basket-section__link(href="#") Утеплитель RockWool Лайт Баттс Скандик 800х600х50 (0,288м3)
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Размер: 0.288 м#[sup 3]
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 971&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 3
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 2913.00 ₽]
	li.basket-section__item
		.basket-section__product
			.basket-section__picture
				img.basket-section__img(src="static/images/content/125591-90x60.jpg" width="93" height="65" alt="Утеплитель RockWool Лайт Баттс Скандик 800х600х50 (0,288м3)")
			.basket-section__content
				a.basket-section__link(href="#") Аэроэлемент конька GRAND LINE черный, 240мм (5м)
				ul.basket-section__info-list
					li.basket-section__info-item
						span.basket-section__info-text Размер: 5м
			.basket-section__price-panel
				span.basket-section__price #[span.d-md-none Стоимость:] #[strong 3343&nbsp;₽/шт]
			button.basket-section__delete(aria-label="Удалить позицию")
		.basket-section__total
			.row
				span.basket-section__count.col-6.col-md-3 Количество, шт: 1
				span.basket-section__count.col-6.col-md-3.text-md-end.ms-auto Итого: #[strong 3343.00 ₽]

