ul.material-filter__options.material-filter__options--col
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorAntiqueWood" id="changeColorAntiqueWood")
		label.checkbox__label.ps-60(for="changeColorAntiqueWood")
			span.checkbox__bg(style="background-image:url(static/images/common/antiquedub.png);")
			span.checkbox__name Antique Wood
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorCuprumSteel" id="changeColorCuprumSteel" disabled)
		label.checkbox__label.ps-60(for="changeColorCuprumSteel")
			span.checkbox__bg(style="background-color:#7E4C31;")
			span.checkbox__name Cuprum Steel
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL1014" id="changeColorRAL1014")
		label.checkbox__label.ps-60(for="changeColorRAL1014")
			span.checkbox__bg(style="background-color:#F0E283;")
			span.checkbox__name RAL 1014
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL1015" id="changeColorRAL1015")
		label.checkbox__label.ps-60(for="changeColorRAL1015")
			span.checkbox__bg(style="background-color:#F0E7A9;")
			span.checkbox__name RAL 1015
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL1018" id="changeColorRAL1018")
		label.checkbox__label.ps-60(for="changeColorRAL1018")
			span.checkbox__bg(style="background-color:#F4FF04;")
			span.checkbox__name RAL 1018
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL2004" id="changeColorRAL2004")
		label.checkbox__label.ps-60(for="changeColorRAL2004")
			span.checkbox__bg(style="background-color:#e8540d;")
			span.checkbox__name RAL 2004
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3003" id="changeColorRAL3003")
		label.checkbox__label.ps-60(for="changeColorRAL3003")
			span.checkbox__bg(style="background-color:#870a24;")
			span.checkbox__name RAL 3003
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3005" id="changeColorRAL3005")
		label.checkbox__label.ps-60(for="changeColorRAL3005")
			span.checkbox__bg(style="background-color:#581e29;")
			span.checkbox__name RAL 3005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3009" id="changeColorRAL3009")
		label.checkbox__label.ps-60(for="changeColorRAL3009")
			span.checkbox__bg(style="background-color:#6d312b;")
			span.checkbox__name RAL 3009
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3011" id="changeColorRAL3011")
		label.checkbox__label.ps-60(for="changeColorRAL3011")
			span.checkbox__bg(style="background-color:#791f24;")
			span.checkbox__name RAL 3011
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5002" id="changeColorRAL5002")
		label.checkbox__label.ps-60(for="changeColorRAL5002")
			span.checkbox__bg(style="background-color:#162e7b;")
			span.checkbox__name RAL 5002
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5005" id="changeColorRAL5005")
		label.checkbox__label.ps-60(for="changeColorRAL5005")
			span.checkbox__bg(style="background-color:#004389;")
			span.checkbox__name RAL 5005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5018" id="changeColorRAL5018")
		label.checkbox__label.ps-60(for="changeColorRAL5018")
			span.checkbox__bg(style="background-color:#e2e2e2;")
			span.checkbox__name RAL 5018
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5021" id="changeColorRAL5021")
		label.checkbox__label.ps-60(for="changeColorRAL5021")
			span.checkbox__bg(style="background-color:#00747d;")
			span.checkbox__name RAL 5021
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6002" id="changeColorRAL6002")
		label.checkbox__label.ps-60(for="changeColorRAL6002")
			span.checkbox__bg(style="background-color:#276230;")
			span.checkbox__name RAL 6002
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6005" id="changeColorRAL6005")
		label.checkbox__label.ps-60(for="changeColorRAL6005")
			span.checkbox__bg(style="background-color:#0e4438;")
			span.checkbox__name RAL 6005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6019" id="changeColorRAL6019")
		label.checkbox__label.ps-60(for="changeColorRAL6019")
			span.checkbox__bg(style="background-color:#b2d8b4;")
			span.checkbox__name RAL 6019
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6020" id="changeColorRAL6020")
		label.checkbox__label.ps-60(for="changeColorRAL6020")
			span.checkbox__bg(style="background-color:#394937;")
			span.checkbox__name RAL 6020
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL7004" id="changeColorRAL7004")
		label.checkbox__label.ps-60(for="changeColorRAL7004")
			span.checkbox__bg(style="background-color:#999a9f;")
			span.checkbox__name RAL 7004
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL7005" id="changeColorRAL7005")
		label.checkbox__label.ps-60(for="changeColorRAL7005")
			span.checkbox__bg(style="background-color:#6d7270;")
			span.checkbox__name RAL 7005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL7016" id="changeColorRAL7016")
		label.checkbox__label.ps-60(for="changeColorRAL7016")
			span.checkbox__bg(style="background-color:#363d43;")
			span.checkbox__name RAL 7016
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL7024" id="changeColorRAL7024")
		label.checkbox__label.ps-60(for="changeColorRAL7024")
			span.checkbox__bg(style="background-color:#484b52;")
			span.checkbox__name RAL 7024
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL8004" id="changeColorRAL8004")
		label.checkbox__label.ps-60(for="changeColorRAL8004")
			span.checkbox__bg(style="background-color:#904e3b;")
			span.checkbox__name RAL 8004
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL8017" id="changeColorRAL8017")
		label.checkbox__label.ps-60(for="changeColorRAL8017")
			span.checkbox__bg(style="background-color:#45302b;")
			span.checkbox__name RAL 8017
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL9003" id="changeColorRAL9003")
		label.checkbox__label.ps-60(for="changeColorRAL9003")
			span.checkbox__bg(style="background-color:#f8f9fb;")
			span.checkbox__name RAL 9003
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL9005" id="changeColorRAL9005")
		label.checkbox__label.ps-60(for="changeColorRAL9005")
			span.checkbox__bg(style="background-color:#151619;")
			span.checkbox__name RAL 9004
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL9006" id="changeColorRAL9006")
		label.checkbox__label.ps-60(for="changeColorRAL9006")
			span.checkbox__bg(style="background-color:#C0BCB1;")
			span.checkbox__name RAL 9006
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR11" id="changeColorRR11")
		label.checkbox__label.ps-60(for="changeColorRR11")
			span.checkbox__bg(style="background-color:#234306;")
			span.checkbox__name RR 11
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR21" id="changeColorRR21")
		label.checkbox__label.ps-60(for="changeColorRR21")
			span.checkbox__bg(style="background-color:#A6A6A6;")
			span.checkbox__name RR 21
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR23" id="changeColorRR23")
		label.checkbox__label.ps-60(for="changeColorRR23")
			span.checkbox__bg(style="background-color:#484b52;")
			span.checkbox__name RR 23
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR29" id="changeColorRR29")
		label.checkbox__label.ps-60(for="changeColorRR29")
			span.checkbox__bg(style="background-color:#712200;")
			span.checkbox__name RR 29
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR32" id="changeColorRR32")
		label.checkbox__label.ps-60(for="changeColorRR32")
			span.checkbox__bg(style="background-color:#3b3332;")
			span.checkbox__name RR 32
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR32gray" id="changeColorRR32gray")
		label.checkbox__label.ps-60(for="changeColorRR32gray")
			span.checkbox__bg(style="background-color:#e2e2e2;")
			span.checkbox__name RR 32 (сервый)
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR33" id="changeColorRR33")
		label.checkbox__label.ps-60(for="changeColorRR33")
			span.checkbox__bg(style="background-color:#151619;")
			span.checkbox__name RR 33
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRR887" id="changeColorRR887")
		label.checkbox__label.ps-60(for="changeColorRR887")
			span.checkbox__bg(style="background-color:#45302b;")
			span.checkbox__name RR 887

