ul.material-filter__options
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeThickness4" id="changeThickness4")
		label.checkbox__label(for="changeThickness4")
			span.checkbox__name 0.4
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeThickness43" id="changeThickness43")
		label.checkbox__label(for="changeThickness43")
			span.checkbox__name 0.43
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeThickness45" id="changeThickness45")
		label.checkbox__label(for="changeThickness45")
			span.checkbox__name 0.45
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeThickness5" id="changeThickness5" disabled)
		label.checkbox__label(for="changeThickness5")
			span.checkbox__name 0.5
