ul.material-filter__options
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorAntiqueWood" id="changeColorAntiqueWood")
		label.checkbox__label.ps-60(for="changeColorAntiqueWood")
			span.checkbox__bg(style="background-image:url(static/images/common/antiquedub.png);")
			span.checkbox__name Antique Wood
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorCuprumSteel" id="changeColorCuprumSteel")
		label.checkbox__label.ps-60(for="changeColorCuprumSteel")
			span.checkbox__bg(style="background-color:#7E4C31;")
			span.checkbox__name Cuprum Steel
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL1014" id="changeColorRAL1014")
		label.checkbox__label.ps-60(for="changeColorRAL1014")
			span.checkbox__bg(style="background-color:#F0E283;")
			span.checkbox__name RAL 1014
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL1015" id="changeColorRAL1015")
		label.checkbox__label.ps-60(for="changeColorRAL1015")
			span.checkbox__bg(style="background-color:#F0E7A9;")
			span.checkbox__name RAL 1015
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL1018" id="changeColorRAL1018")
		label.checkbox__label.ps-60(for="changeColorRAL1018")
			span.checkbox__bg(style="background-color:#F4FF04;")
			span.checkbox__name RAL 1018
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL2004" id="changeColorRAL2004")
		label.checkbox__label.ps-60(for="changeColorRAL2004")
			span.checkbox__bg(style="background-color:#e8540d;")
			span.checkbox__name RAL 2004
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3003" id="changeColorRAL3003")
		label.checkbox__label.ps-60(for="changeColorRAL3003")
			span.checkbox__bg(style="background-color:#870a24;")
			span.checkbox__name RAL 3003
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3005" id="changeColorRAL3005")
		label.checkbox__label.ps-60(for="changeColorRAL3005")
			span.checkbox__bg(style="background-color:#581e29;")
			span.checkbox__name RAL 3005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3009" id="changeColorRAL3009")
		label.checkbox__label.ps-60(for="changeColorRAL3009")
			span.checkbox__bg(style="background-color:#6d312b;")
			span.checkbox__name RAL 3009
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL3011" id="changeColorRAL3011")
		label.checkbox__label.ps-60(for="changeColorRAL3011")
			span.checkbox__bg(style="background-color:#791f24;")
			span.checkbox__name RAL 3011
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5002" id="changeColorRAL5002")
		label.checkbox__label.ps-60(for="changeColorRAL5002")
			span.checkbox__bg(style="background-color:#162e7b;")
			span.checkbox__name RAL 5002
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5005" id="changeColorRAL5005")
		label.checkbox__label.ps-60(for="changeColorRAL5005")
			span.checkbox__bg(style="background-color:#004389;")
			span.checkbox__name RAL 5005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5018" id="changeColorRAL5018")
		label.checkbox__label.ps-60(for="changeColorRAL5018")
			span.checkbox__bg(style="background-color:#e2e2e2;")
			span.checkbox__name RAL 5018
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL5021" id="changeColorRAL5021")
		label.checkbox__label.ps-60(for="changeColorRAL5021")
			span.checkbox__bg(style="background-color:#00747d;")
			span.checkbox__name RAL 5021
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6002" id="changeColorRAL6002")
		label.checkbox__label.ps-60(for="changeColorRAL6002")
			span.checkbox__bg(style="background-color:#276230;")
			span.checkbox__name RAL 6002
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6005" id="changeColorRAL6005")
		label.checkbox__label.ps-60(for="changeColorRAL6005")
			span.checkbox__bg(style="background-color:#0e4438;")
			span.checkbox__name RAL 6005
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6019" id="changeColorRAL6019")
		label.checkbox__label.ps-60(for="changeColorRAL6019")
			span.checkbox__bg(style="background-color:#b2d8b4;")
			span.checkbox__name RAL 6019
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeColorRAL6020" id="changeColorRAL6020")
		label.checkbox__label.ps-60(for="changeColorRAL6020")
			span.checkbox__bg(style="background-color:#394937;")
			span.checkbox__name RAL 6020

