ul.material-filter__options.material-filter__options--col
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingAtlas" id="changeCoatingAtlas")
		label.checkbox__label(for="changeCoatingAtlas")
			span.checkbox__name Atlas
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Atlas
				span.tooltip__data-text Давно зарекомендовавшее себя универсальное покрытие на основе полиэстера, разработанное с использованием новейших технологий.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 25 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Galfan (ZA 265 гр/кв.м.);
					<br>
					|	поверхность - глянцевая;
					<br>
					|	гарантия на сквозную коррозию - 25 лет;
					<br>
					|	гарантия на внешний вид - 15 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingDrap" id="changeCoatingDrap")
		label.checkbox__label(for="changeCoatingDrap")
			span.checkbox__name Drap
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Drap (Драп)
				span.tooltip__data-text Материал с благородной текстурой поверхности, придающей объектам строительства особый стиль.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 25 мкм;
					<br>
					|	толщина стали - 0,45 мм;
					<br>
					|	защитный слой - Zn140 гр/кв.м;
					<br>
					|	поверхность - матовая, текстурированная;
					<br>
					|	гарантия на сквозную коррозию - 20 лет;
					<br>
					|	гарантия на внешний вид - 10 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingDrapST" id="changeCoatingDrapST")
		label.checkbox__label(for="changeCoatingDrapST")
			span.checkbox__name Drap ST
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingGreenCoat" id="changeCoatingGreenCoat")
		label.checkbox__label(for="changeCoatingGreenCoat")
			span.checkbox__name GreenCoat Pural BT
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GreenCoat Pural BT
				span.tooltip__data-text Полиуретановое покрытие компании SSAB, модифицированное гранулами полиамида.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 50 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Zn275 гр/кв.м.;
					<br>
					|	поверхность - гладкая;
					<br>
					|	гарантия на сквозную коррозию - 30 лет;
					<br>
					|	гарантия на внешний вид - 20 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingGreenCoatMatt" id="changeCoatingGreenCoatMatt")
		label.checkbox__label(for="changeCoatingGreenCoatMatt")
			span.checkbox__name GreenCoat Pural BT, matt
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title GreenCoat Pural BT, matt
				span.tooltip__data-text Матовое полиуретановое покрытие компании SSAB.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 50 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Zn275 гр/кв.м.;
					<br>
					|	гарантия на сквозную коррозию - 30 лет;
					<br>
					|	гарантия на внешний вид - 20 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingPrintElite" id="changeCoatingPrintElite")
		label.checkbox__label(for="changeCoatingPrintElite")
			span.checkbox__name Print Elite
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Print Elite
				span.tooltip__data-text Настоящее открытие для тех, кто предпочитает эстетику природной красоты для качественной и оригинальной отделки своего дома. Естественный природный материал, воплощенный в металле, придаст Вашему дому неповторимый стиль и прослужит долгие годы.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 30 мкм;
					<br>
					|	толщина стали - 0,45 мм;
					<br>
					|	защитный слой - Zn140 гр/кв.м.;
					<br>
					|	поверхность - матовая, текстурированная;
					<br>
					|	гарантия на сквозную коррозию - 20 лет;
					<br>
					|	гарантия на внешний вид - 10 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingPurLiteMatt" id="changeCoatingPurLiteMatt")
		label.checkbox__label(for="changeCoatingPurLiteMatt")
			span.checkbox__name PurLite Matt
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title PurLite Matt
				span.tooltip__data-text Матовое полиуретановое покрытие с текстурой. Разработано совместно с Новолипецким металлургическим комбинатом.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 35 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Zn180 гр/кв.м.;
					<br>
					|	гарантия на сквозную коррозию - 30 лет;
					<br>
					|	гарантия на внешний вид - 15 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingPurProMatt" id="changeCoatingPurProMatt")
		label.checkbox__label(for="changeCoatingPurProMatt")
			span.checkbox__name PurPro Matt (275)
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingQuarzit" id="changeCoatingQuarzit")
		label.checkbox__label(for="changeCoatingQuarzit")
			span.checkbox__name Quarzit
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Quarzit
				span.tooltip__data-text Новое поколение стали с цинк-алюминиевым защитно-металлическим слоем и толстым органическим покрытием на основе полиуретана, модифицированного гранулами полиамида. Сталь с покрытием Quarzit произведена в Бельгии концерном ArcelorMittal.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 55 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Za265 гр/кв.м.;
					<br>
					|	поверхность - гладкая, глянцевая;
					<br>
					|	гарантия на сквозную коррозию - 50 лет;
					<br>
					|	гарантия на внешний вид - 35 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingQuarzitLite" id="changeCoatingQuarzitLite")
		label.checkbox__label(for="changeCoatingQuarzitLite")
			span.checkbox__name Quarzit Lite
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Quarzit Lite
				span.tooltip__data-text Новое поколение стали с цинк-алюминиевым защитно-металлическим слоем и органическим покрытием на основе полиуретана, модифицированного гранулами полиамида. Сталь с покрытием Quarzit Lite произведена в Бельгии концерном ArcelorMittal.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 25 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Za265 гр/кв.м.;
					<br>
					|	поверхность - матовая;
					<br>
					|	гарантия на сквозную коррозию - 30 лет;
					<br>
					|	гарантия на внешний вид - 15 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingQuarzitPROMatt" id="changeCoatingQuarzitPROMatt")
		label.checkbox__label(for="changeCoatingQuarzitPROMatt")
			span.checkbox__name Quarzit PRO Matt
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Quarzit PRO Matt
				span.tooltip__data-text Качественное покрытие с ярко выраженной крупной текстурой металла. Сталь с покрытием Quarzit PRO Matt произведена в Бельгии концерном ArcelorMittal.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 50 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Za265 гр/кв.м.;
					<br>
					|	поверхность - матовая, текстурированная;
					<br>
					|	гарантия на сквозную коррозию - 50 лет;
					<br>
					|	гарантия на внешний вид - 35 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingRooftopMatte" id="changeCoatingRooftopMatte")
		label.checkbox__label(for="changeCoatingRooftopMatte")
			span.checkbox__name Rooftop Matte
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Rooftop Matte
				span.tooltip__data-text Уникальный кровельный материал с текстурированным покрытием, в котором сочетаются высокое качество и привлекательный внешний вид. Покрытие разработано ведущим сталепрокатным комбинатом ПАО "Северсталь".
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 30 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Zn180 гр/кв.м.;
					<br>
					|	поверхность - рельефная;
					<br>
					|	гарантия на сквозную коррозию - 25 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingSatin" id="changeCoatingSatin")
		label.checkbox__label(for="changeCoatingSatin")
			span.checkbox__name Satin
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Satin
				span.tooltip__data-text Универсальный и надежный продукт на основе полиэстера, широкая цветовая гамма, оптимальный баланс защитных свойств.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 25 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Zn140 гр/кв.м.;
					<br>
					|	поверхность - гладкая, глянцевая;
					<br>
					|	гарантия на сквозную коррозию - 20 лет;
					<br>
					|	гарантия на внешний вид - 10 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingSatinMatt" id="changeCoatingSatinMatt")
		label.checkbox__label(for="changeCoatingSatinMatt")
			span.checkbox__name Satin Matt
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Satin Matt
				span.tooltip__data-text Текстурированный матовый полиэстер. Покрытие разработано совместно с Новолипецким металлургическим комбинатом.
					<br>
					|	#[strong Характеристики:]
					<br>
					|	полиэстер - 35 мкм;
					<br>
					|	толщина стали - 0,5 мм;
					<br>
					|	защитный слой - Zn180 гр/кв.м.;
					<br>
					|	поверхность - матовая, текстурированная;
					<br>
					|	гарантия на сквозную коррозию - 25 лет;
					<br>
					|	гарантия на внешний вид - 15 лет;
				a.tooltip__data-link(href="#") Подробнее
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingVelur" id="changeCoatingVelur")
		label.checkbox__label(for="changeCoatingVelur")
			span.checkbox__name Velur
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingPoliestr" id="changeCoatingPoliestr")
		label.checkbox__label(for="changeCoatingPoliestr")
			span.checkbox__name Полиэстр
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Полиэстр
				span.tooltip__data-text является одним из наиболее распространенных на рынке полимерных покрытий для стального оцинкованного листа. Относительно недорогой материал, подходит для любых климатических поясов. Использование полиэстера для покрытия оцинкованного стального листа является разумным и экономически выгодным выбором, когда здание не находится в условиях особо загрязненной окружающей среды, а эксплуатационная нагрузка не слишком высока.
	li.material-filter__option
		input.checkbox(type="checkbox" name="changeCoatingPoliestrdouble" id="changeCoatingPoliestrdouble")
		label.checkbox__label(for="changeCoatingPoliestrdouble")
			span.checkbox__name Полиэстр - double
			.tooltip.d-inline-block.ms-10
				button(type="button").tooltip__button.tooltip__button--right ?
				span.tooltip__data-title Полиэстр - double
				span.tooltip__data-text является одним из наиболее распространенных на рынке полимерных покрытий для стального оцинкованного листа. Относительно недорогой материал, подходит для любых климатических поясов. Использование двустороннего полиэстера для покрытия оцинкованного стального листа является разумным и экономически выгодным выбором. Имеет большую популярность при возведении заборов из профнастила или штакетника.
