.change-material {
  &__inner {
    background-color: $white;
    // border-radius: 10px;
    box-shadow: 0 0 4.2px 0 rgba(0, 0, 0, .07);
    margin: 0 -20px 20px;
    padding: 20px;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 20px 0;
      padding: 20px;
    }
  }
}
@import './material-filter';
@import './material-catalog';
