extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container.pt-100
			ul
				li
					a(href="home.html") Home page
				li
					a(href="roof.html") Расчте кровли
