// Colors
$white: #fff;
$black: #000;
$dark-blue-color: #111c47;
$gray-color: #cdcdcd;
$red-color: #e4373a;

// Sizes
$base-font-size: 16px;

$tablet-size: 768px;

$content: 1000px;

// Fonts
$main-fomt: 'Montserrat', Arial, sans-serif;
