// Colors
$white: #fff;
$black: #000;
$dark-blue-color: #111c47;
$gray-color: #cdcdcd;
$note-color: #ffcda3;
$text-gray-color: #636363;
$red-color: #e4373a;

// Sizes
$base-font-size: 16px;

$tablet-size: 768px;
$desktop-size: 1280px;
$large-size: 1920px;

$content: 1000px;

// Fonts
$main-fomt: 'Montserrat', Arial, sans-serif;
