ul.selected-product-list
	li.selected-product-list__item
		.selected-product-list__picture
			img.selected-product-list__img(src="static/images/content/53925-90x60.jpg" width="93" height="65" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
		.selected-product-list__content
			a.selected-product-list__link(href="#") Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			ul.selected-product-list__info-list
				li.selected-product-list__info-item
					span.selected-product-list__info-text Цвет: RAL 8017
				li.selected-product-list__info-item
					span.selected-product-list__info-text Покрытие: Satin
				li.selected-product-list__info-item
					span.selected-product-list__info-text Толщина, мм: 0,5
		.selected-product-list__price-panel
			span.selected-product-list__price #[span.d-md-none Стоимость:] 888&nbsp;₽
			a.selected-product-list__button._popup-link(href="#change-material") Изменить #[span.d-md-none конфигурацию]
	li.selected-product-list__item
		.selected-product-list__picture
			img.selected-product-list__img(src="static/images/content/116930-90x60.jpg" width="93" height="65" alt="Софит металлический центральная перфорация 0,45 РЕ с пленкой RAL 8017 шоколад")
		.selected-product-list__content
			a.selected-product-list__link(href="#") Софит металлический центральная перфорация 0,45 РЕ с пленкой RAL 8017 шоколад
			ul.selected-product-list__info-list
				li.selected-product-list__info-item
					span.selected-product-list__info-text Цвет: RAL 8017
				li.selected-product-list__info-item
					span.selected-product-list__info-text Покрытие: Полиэстер
				li.selected-product-list__info-item
					span.selected-product-list__info-text Толщина, мм: 0,45
		.selected-product-list__price-panel
			span.selected-product-list__price #[span.d-md-none Стоимость:] 1499&nbsp;₽
			a.selected-product-list__button._popup-link(href="#change-material") Изменить #[span.d-md-none конфигурацию]


