.roof-type {
  margin: 0 -20px;
  &__item {
    width: auto;
  }
  &__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    left: -9999px;
    &:focus + label::before {
      box-shadow: $input-btn-focus-box-shadow;
    }
    &:checked + label::before {
      border: 1px solid $dark-blue-color;
    }
  }
  &__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    line-height: 15px;
    padding: 15px 5px;
    position: relative;
    width: 120px;
    &::before {
      background-color: transparent;
      border: 1px solid rgba(0, 0, 0, 0.1);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: all ease-out .3s;
      width: 100%;
    }
  }
  &__picture {
    height: 56px;
    margin: 0 0 10px 0;
    width: auto;
  }
  &__img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
}
