ul.material-list
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 1467 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-check', 'material-list__status-icon', '10', '10')
						span.material-list__status-text В наличие
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/101271-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик Grand Line 0,5 Quarzit Cuprum Steel
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 1065 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-close', 'material-list__status-icon', '8', '8')
						span.material-list__status-text Нет в наличии
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 4.5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-check', 'material-list__status-icon', '10', '10')
						span.material-list__status-text В наличии
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 2
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-question', 'material-list__status-icon', '10', '10')
						span.material-list__status-text Уточните
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-question', 'material-list__status-icon', '10', '10')
						span.material-list__status-text Уточните
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 1467 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-check', 'material-list__status-icon', '10', '10')
						span.material-list__status-text В наличие
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/101271-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик Grand Line 0,5 Quarzit Cuprum Steel
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 1065 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-close', 'material-list__status-icon', '8', '8')
						span.material-list__status-text Нет в наличии
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 4.5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-check', 'material-list__status-icon', '10', '10')
						span.material-list__status-text В наличии
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 2
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-question', 'material-list__status-icon', '10', '10')
						span.material-list__status-text Уточните
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-question', 'material-list__status-icon', '10', '10')
						span.material-list__status-text Уточните
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 1467 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-check', 'material-list__status-icon', '10', '10')
						span.material-list__status-text В наличие
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/101271-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик Grand Line 0,5 Quarzit Cuprum Steel
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 1065 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-close', 'material-list__status-icon', '8', '8')
						span.material-list__status-text Нет в наличии
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 4.5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-check', 'material-list__status-icon', '10', '10')
						span.material-list__status-text В наличии
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 2
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-question', 'material-list__status-icon', '10', '10')
						span.material-list__status-text Уточните
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
	li.material-list__item
		.material-list__inner
			.material-list__visual
				a.material-list__img-link(href="#")
					img.material-list__img(src="static/images/content/53925-228x136.jpg" width="228" height="136" alt="Металлочерепица классик 0,5 Satin RAL 8017 шоколад")
				span.material-list__hit Хит
				p.material-list__star
					+icon('icon-star', 'material-list__star-icon', '10', '10')
					span.material-list__star-text 5
			.material-list__description
				p.material-list__title Металлочерепица классик 0,5 Satin RAL 8017 шоколад
			.material-list__controls
				.material-list__buy-panel
					span.material-list__price 865 &#8381;/м#[sup 2]
					button.material-list__choose Выбрать
				.material-list__info-panel
					p.material-list__status
						+icon('icon-question', 'material-list__status-icon', '10', '10')
						span.material-list__status-text Уточните
					p.material-list__code
						span.material-list__code-title Код
						span.material-list__code-value 53925
